.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // margin-top: 32px;
    // border: 1px solid red;
    gap: clamp(28px, 4.6vw, 30px);
    // gap: 32px;

    .top{
        display: flex;
        flex-direction: row;
        // justify-content: center;
    gap: clamp(28px, 4.6vw, 30px);
    // gap: 32px;

        // border: 1px solid rgb(85, 255, 0);

        .history{
            margin-top: 14px;
            height: 673px;
            // height: 650px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 16px;
            width: 70%;
    padding: clamp(15px, 4.6vw, 20px);
            // border: 4px solid yellow;


  h2{
letter-spacing: 0;
text-align: left;
font-weight: 800;
color: #072635;
font-size: clamp(20px, 4.6vw, 24px);
margin-bottom: 40px;
  }
        
        .chartContainer {
//   margin-top: 20px;
//   max-width: 600px;
  height: 298px;
  // border: 1px solid red;
  border-radius: 12px;
  background-color: #F4F0FE;
//   width: 100%;
//   overflow-x: scroll;

    @media only screen and (max-width:1024px){
    // height: 100%;
  height: 398px;

    // border: 1px solid red;
        }

  @media only screen and (min-width:876px) and (max-width:1150px){
    height: 230px;
  }
}

        .historyCard {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;

  margin-top: 20px;
  border-radius: 12px;
//   max-width: 600px;
  height: 242px;
//   border: 1px solid rgb(68, 0, 255);

    @media only screen and (min-width:1001px) and (max-width:1107px){
    height: 280px;
        }

       @media only screen and (max-width:600px){
    flex-wrap: wrap;
    height: 100%;
        }

}
  

    @media only screen and (max-width:1023px){
    // height: 100%;
            height: 790px;

    // border: 1px solid red;
        }

          @media only screen and (max-width:600px){
    height: 100%;
        }

      @media only screen and (width:912px){
    height: 100%;
        }

        }

       .profile{
            // margin-top: 14px;
            height: 740px;
            width: 30%;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 16px;
            // width: 70%;
            // border: 4px solid yellow;
    padding: clamp(15px, 4.6vw, 20px);

         @media only screen and (width:1024px){
height: 100%;
        }

                 @media only screen and (max-width:768px){
height: 100%;
        }

        }

        @media only screen and (max-width:600px){
            flex-wrap: wrap;

            .history, .profile{
                width: 100%;
            }
        }
    }

      .bottom{
          flex-direction: row;
        // justify-content: center;
    // gap: clamp(28px, 4.6vw, 30px);
        display: flex;
    gap: clamp(28px, 4.6vw, 30px);

        // border: 1px solid rgb(43, 0, 255);
     .list{
            width: 70%;
            // border: 1px solid green;
             height: 349px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 16px;
            margin-top: -52px;
    padding: clamp(15px, 4.6vw, 20px);


              h2{
letter-spacing: 0;
text-align: left;
font-weight: 800;
color: #072635;
font-size: clamp(20px, 4.6vw, 24px);
  }

    @media only screen and (max-width:600px){
  margin-top: 0px;
        }

    @media only screen and (width:1024px){
margin-top: -65px;
        }

            @media only screen and (width:768px){
margin-top: -25px;
        }

            @media only screen and (width:912px){
    // height: 100%;
    margin-top: -100px;
        }
        }
       .results{
            width: 30%;
            // border: 1px solid rgb(128, 0, 70);
             height: 296px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 16px;
    padding: clamp(15px, 4.6vw, 20px);


              h2{
letter-spacing: 0;
text-align: left;
font-weight: 800;
color: #072635;
font-size: clamp(20px, 4.6vw, 24px);
  }
        }
           @media only screen and (max-width:600px){
            flex-wrap: wrap;

            .list, .results{
                width: 100%;
            }
        }
    }
}